<div class="container" style="margin-top: 35px;">
  

  <h1 class="display-4" style="text-align: center; font-weight:500;">PROVEEDORES</h1>
  <br> 

<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProvee">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
    </svg>
  Agregar
</button>




<!-- DataTales Example -->
<div class="card shadow mb-4" style="margin-top: 35px;">
    <div class="card-header py-3">

      <div class="input-group mb-3">
          <span class="input-group-text" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
          </span>
          
          <input type="text" class="form-control" name="filtroProvee" placeholder="Buscar... (Proveedor, Dirección, Teléfono)" [(ngModel)]="filtroProvee"
           aria-label="Username" aria-describedby="basic-addon1">
      </div>


    </div>



    
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Proveedor</th>
                        <th>Direccion</th>
                        <th>Teléfono</th>
                        <th>Activación</th>
                        <th>Acciones</th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proveedor of proveedoresDetails | filtroProveedor : filtroProvee">
                        <td>{{proveedor.id_proveedor}}</td>
                        <td>{{proveedor.nombreProveedor}}</td>
                        <td>{{proveedor.direccion}}</td>
                        <td>{{proveedor.telefono}}</td>
                        <td *ngIf="proveedor.cactivacion == true" >Activado</td>
                        <td *ngIf="proveedor.cactivacion == false">Desactivado</td>
                        <td>
                          
                              <!-- Botón Eliminar -->
                              <button class="btn btn-danger" data-bs-target="#eliminarProvee" data-bs-toggle="modal" (click)="edit(proveedor)"
                                       style="margin-right: 15px;"><svg
                                      xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">

                                      
                                      <path fill="#fff"
                                          d="M10 5h4a2 2 0 1 0-4 0ZM8.5 5a3.5 3.5 0 1 1 7 0h5.75a.75.75 0 0 1 0 1.5h-1.32l-1.17 12.111A3.75 3.75 0 0 1 15.026 22H8.974a3.75 3.75 0 0 1-3.733-3.389L4.07 6.5H2.75a.75.75 0 0 1 0-1.5H8.5Zm2 4.75a.75.75 0 0 0-1.5 0v7.5a.75.75 0 0 0 1.5 0v-7.5ZM14.25 9a.75.75 0 0 1 .75.75v7.5a.75.75 0 0 1-1.5 0v-7.5a.75.75 0 0 1 .75-.75Zm-7.516 9.467a2.25 2.25 0 0 0 2.24 2.033h6.052a2.25 2.25 0 0 0 2.24-2.033L18.424 6.5H5.576l1.158 11.967Z" />
                                  </svg></button>


                              <!-- Botón Editar -->
                              <button class="btn btn-success" data-bs-target="#editarProvee" data-bs-toggle="modal" (click)="edit(proveedor)"
                                  ><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                      height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                      <mask id="svgIDb">
                                          <g fill="none">
                                              <g stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="4" clip-path="url(#svgIDa)">
                                                  <path
                                                      d="m31 8.999l8 8m-31 15L36 4l8 7.999l-28 28l-10 2l2-10Zm23-23l8 8m-30 15l7 7m-3-4l22-22" />
                                              </g>
                                              <defs>
                                                  <clipPath id="svgIDa">
                                                      <path fill="#000" d="M0 0h48v48H0z" />
                                                  </clipPath>
                                              </defs>
                                          </g>
                                      </mask>
                                      <path fill="#fff" d="M0 0h48v48H0z" mask="url(#svgIDb)" />
                                  </svg>
                              </button>



                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
</div>

</div>
























<!--AGREGAR MODAL-->

<div class="modal fade" id="agregarProvee" #agregarProvee tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">

          <!-- Header del Modal -->
          <div class="modal-header" style="background-color: #4F8BFF;">
              <!-- Título Modal -->
              <h4 class="modal-title" id="exampleModalLabel" style="color: white;">Agregar Proveedor</h4>
              <!-- Botón para cerrar Modal -->
              <button class="btn btn-outline-dark close" aria-label="close" type="button" data-bs-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <!-- Body del Modal -->
          <div class="modal-body">
              <form #addProvee="ngForm" (ngSubmit)="addProveedor(addProvee)">

                  <div class="form-group">
                      <label for="id_proveedor" class="form-label">Id de Proveedor</label>
                      <input type="text"  #id_proveedor (ngModel)="proveedoresToUpdate.id_proveedor"
                          name="id_proveedor" class="form-control" disabled>
                  </div>

                  <div class="form-group">
                      <label for="nombreProveedor" class="form-label">Nombre de proveedor</label>
                      <input type="text" #nombreProveedor (ngModel)="proveedoresToUpdate.nombreProveedor"  name="nombreProveedor"
                          class="form-control">
                  </div>

                  <div class="form-group">
                      <label for="direccion" class="form-label">Dirección</label>
                      <input type="text" #direccion (ngModel)="proveedoresToUpdate.direccion"  name="direccion"
                          class="form-control">
                  </div>
                  
                  <div class="form-group">
                      <label for="telefono" class="form-label">Teléfono</label>
                      <input type="text" #telefono (ngModel)="proveedoresToUpdate.telefono"  name="telefono"
                          class="form-control">
                  </div>




                  <!-- Pie de Modal con botón -->
                  <div class="form-group">
                      <button #AgregarButtonProveedor id="AgregarButtonProveedor"  type="submit" style="margin-top: 10px;" class="btn btn-outline-primary" onClick="window.location.reload();">Agregar</button>
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>
<!--AGREGAR MODAL-->
































<!--EDITAR MODAL -->
<div class="modal fade" id="editarProvee" #editarProvee tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <!-- Header del Modal -->
            <div class="modal-header" style="background-color: #20A140;">
                <!-- Título Modal -->
                <h4 class="modal-title" id="exampleModalLabel" style="color: white;">Editar proveedor</h4>
                <!-- Botón para cerrar Modal -->
                <button class="btn btn-outline-dark close" aria-label="close" type="button" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body del Modal -->
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <div class="form-group">
                        <label for="id_proveedor" class="form-label">Id del proveedor</label>
                        <input type="text"  #id_proveedor [(ngModel)]="proveedoresToUpdate.id_proveedor"
                            name="id_proveedor" class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label for="nombreProveedor" class="form-label">Nombre Proveedor</label>
                        <input type="text" #nombreProveedor [(ngModel)]="proveedoresToUpdate.nombreProveedor"  name="nombreProveedor"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" #direccion [(ngModel)]="proveedoresToUpdate.direccion"  name="direccion"
                            class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" #telefono [(ngModel)]="proveedoresToUpdate.telefono"  name="telefono"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Activación</label>
                        <div>
                            <select class="form-select" #cactivacion name="cactivacion" [(ngModel)]="proveedoresToUpdate.cactivacion" aria-label="Default select example">  
                                <option  value="true" selected>Si</option>  
                                <option value="false">No</option>  
                            </select>
                        </div>
                    </div>

                

                    <!-- Pie de Modal con botón -->
                    <div class="form-group">
                        <button #AgregarButtonProveedor_eliminar id="AgregarButtonProveedor_eliminar"  onClick="window.location.reload();"  (click)="updateProveedor(id_proveedor.value)" type="submit" style="margin-top: 10px;" class="btn btn-outline-success">Editar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--EDITAR MODAL TERMINA-->






























<!--ELIMINAR MODAL -->
<div class="modal fade" id="eliminarProvee" #eliminarProvee tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <!-- Header del Modal -->
            <div class="modal-header" style="background-color: #F55353;">
                <!-- Título Modal -->
                <h4 class="modal-title" id="exampleModalLabel" style="color: white;">Editar proveedor</h4>
                <!-- Botón para cerrar Modal -->
                <button class="btn btn-outline-dark close" aria-label="close" type="button" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body del Modal -->
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <div class="form-group">
                        <label for="id_proveedor" class="form-label">Id del proveedor</label>
                        <input type="text"  #id_proveedor_delete [(ngModel)]="proveedoresToUpdate.id_proveedor"
                            name="id_proveedor_delete" class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label for="nombreProveedor" class="form-label">Nombre</label>
                        <input type="text" #nombreProveedor [(ngModel)]="proveedoresToUpdate.nombreProveedor"  name="nombreProveedor"
                            class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="form-label">Apellido paterno</label>
                        <input type="text" #direccion [(ngModel)]="proveedoresToUpdate.direccion"  name="direccion"
                            class="form-control" disabled>
                    </div>
                    
                    <div class="form-group">
                        <label for="telefono" class="form-label">Apellido materno</label>
                        <input type="text" #telefono [(ngModel)]="proveedoresToUpdate.telefono"  name="telefono_edit"
                            class="form-control" disabled>
                    </div>


                

                    <!-- Pie de Modal con botón -->
                    <div class="form-group">
                        <button #AgregarButtonProveedor_delete id="AgregarButtonProveedor_delete" onClick="window.location.reload();"    (click)="eliminarProveedor(id_proveedor_delete.value)" type="submit" style="margin-top: 10px;" class="btn btn-outline-danger">Confirmar eliminación de proveedor</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--ELIMINAR MODAL TERMINA-->